

#myTabContent .col-lg-6 {
	margin: 10px 0;
}

.labelList {
	margin-top: 10px;
}

.labelList span {
	display: block;
	width: 20%;
	text-align: center;
	line-height: 50px;
}

.labelList i {
	position: absolute;
	right: 0;
	top: -4px;
}

.labelList p {
	font-size: 24px;
	width: 40px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	background: #C0C0C0;
	color: #FFFFFF;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 5px;
}

.labelList input {
	height: 36px;
	line-height: 36px;
	margin-top: 5px;
	display: none;
}

.labelList li {
	position: relative;
	float: left;
	padding: 8px 15px;
	margin: 5px;
	text-align: center;
	background: #C0C0C0;
	color: #FFFFFF;
	cursor: pointer;
}

.labelList .on {
	background: #5BC0DE;
}

.labelList .hint {
	display: none;
}

#addbtn {
	margin-left: 50px;
}

.addTable {
	width: 90%;
	margin: 20px auto;
}

.messageList {
	width: 90%;
	margin: 0 auto;
}

.messageList li {
	width: 23%;
	margin: 1%;
	float: left;
	border: 1px solid #dcdcdc;
	padding: 10px 0;
	text-align: center;
}

.messageList li div {
	font-size: 18px;
}