<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyp.carweb.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.zyp.carweb.model.Order">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="goods_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="days" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, goods_id, user_id, status, days, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from b_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zyp.carweb.model.Order">
    insert into b_order (id, goods_id, user_id,
      status, days, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{days,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zyp.carweb.model.Order">
    insert into b_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="days != null">
        days,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="days != null">
        #{days,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyp.carweb.model.Order">
    update b_order
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="days != null">
        days = #{days,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyp.carweb.model.Order">
    update b_order
    set goods_id = #{goodsId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      days = #{days,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectList" resultType="com.zyp.carweb.vo.OrderVo" parameterType="map">
    SELECT
        o.id,
        o.status,
        DATE_FORMAT(o.days,'%Y-%m-%d') as daysStr,
        DATE_FORMAT(o.create_time,'%Y-%m-%d  %H:%m:%s') as createTimeStr,
        g.brand_name as brandName,
        g.type_name as typeName,
        g.location as location,
        g.price,
        u.user_name as userName
    FROM b_order o
     join goods g on o.goods_id = g.id
     join user u on o.user_id = u.id
    <trim prefix="where" prefixOverrides="AND |OR ">
      <include refid="pageSql"/>
    </trim>
    ORDER BY o.create_time DESC
    <trim prefix="limit" prefixOverrides=",">
      <if test=" start != null and start !=-1 ">#{start,jdbcType=INTEGER},</if>
      <if test=" end != null and end !='' ">#{end,jdbcType=INTEGER}</if>
    </trim>
  </select>
  <!--查询banner列表总条数-->
  <select id="selectCount" resultType="java.lang.Integer" parameterType="map">
    SELECT
    count(1)
    FROM b_order o
    join goods g on o.goods_id = g.id
    <trim prefix="where" prefixOverrides="AND |OR ">
      <include refid="pageSql"/>
    </trim>
  </select>

  <sql id="pageSql">
    <if test="creator != null and creator != ''">
      and o.user_id = #{creator}
    </if>
    <if test="brandName != null and brandName != ''">
      and g.brand_name like CONCAT ('%',#{brandName},'%')
    </if>
    <if test="minPrice != null and maxPrice != null">
      and g.price &lt;= #{maxPrice} and g.price &gt;= #{minPrice}
    </if>
    <if test="minPrice != null and maxPrice == null">
      and g.price &gt;= #{minPrice}
    </if>
    <if test="minPrice == null and maxPrice != null">
      and g.price &lt;= #{maxPrice}
    </if>
  </sql>
</mapper>