<!DOCTYPE html>
<html  lang="en"  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${goods.id}"
                               class="form-control" type="hidden"/>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">品牌名称：</label>
                            <div class="col-sm-8">
                                <input id="brandName" name="brandName" class="form-control" th:value="${goods.brandName}" type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">型号：</label>
                            <div class="col-sm-8">
                                <input id="typeName" name="typeName" class="form-control" th:value="${goods.typeName}" type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">价格：</label>
                            <div class="col-sm-8">
                                <input id="price" name="price" class="form-control" th:value="${goods.price}" type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">产地：</label>
                            <div class="col-sm-8">
                                <input id="place" name="place" class="form-control" th:value="${goods.place}" type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所在地：</label>
                            <div class="col-sm-8">
                                <select id="location" name="location" >
                                    <option value="Kildare" th:selected="${goods.location =='Kildare'}">Kildare</option>
                                    <option value="Dublin" th:selected="${goods.location =='Dublin'}">Dublin</option>
                                    <option value="Cork" th:selected="${goods.location =='Cork'}">Cork</option>
                                    <option value="Galway" th:selected="${goods.location =='Galway'}">Galway</option>
                                    <option value="Limerick" th:selected="${goods.location =='Limerick'}">Limerick</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/lin/goods/edit.js">
</script>
</body>
</html>
